; Q-SET Stage-0A R1 frozen Galileo E1 C-1 receiver configuration
[GNSS-SDR]
GNSS-SDR.internal_fs_sps=4000000

SignalSource.implementation=File_Signal_Source
SignalSource.filename=@@INPUT@@
SignalSource.item_type=gr_complex
SignalSource.sampling_frequency=4000000
SignalSource.samples=@@SAMPLES@@
SignalSource.repeat=false
SignalSource.enable_throttle_control=false

SignalConditioner.implementation=Pass_Through

Channels_1B.count=12
Channels.in_acquisition=4
Channel.signal=1B

Acquisition_1B.implementation=Galileo_E1_PCPS_Ambiguous_Acquisition
Acquisition_1B.item_type=gr_complex
Acquisition_1B.coherent_integration_time_ms=4
Acquisition_1B.pfa=0.00001
Acquisition_1B.doppler_max=15000
Acquisition_1B.doppler_step=125
Acquisition_1B.cboc=false
Acquisition_1B.blocking=false
Acquisition_1B.repeat_satellite=false
Acquisition_1B.dump=false

Tracking_1B.implementation=Galileo_E1_DLL_PLL_VEML_Tracking
Tracking_1B.item_type=gr_complex
Tracking_1B.pll_bw_hz=20.0
Tracking_1B.dll_bw_hz=3.0
Tracking_1B.order=3
Tracking_1B.early_late_space_chips=0.15
Tracking_1B.very_early_late_space_chips=0.6
Tracking_1B.track_pilot=true
Tracking_1B.dump=true
Tracking_1B.dump_filename=@@TRACK_PREFIX@@

TelemetryDecoder_1B.implementation=Galileo_E1B_Telemetry_Decoder
TelemetryDecoder_1B.dump=false

Observables.implementation=Hybrid_Observables
Observables.dump=false

PVT.implementation=RTKLIB_PVT
PVT.positioning_mode=Single
PVT.output_rate_ms=1000
PVT.display_rate_ms=1000
PVT.flag_nmea_tty_port=false
PVT.flag_rtcm_server=false
PVT.flag_rtcm_tty_port=false
PVT.dump=false
